.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #84dcc6;
    transition: background 0.3s ease;
  }
  
  .btn-cancel {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #ff686b;
    transition: background 0.3s ease;
  }